@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url("https://use.typekit.net/trv5vec.css");
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  // font-family: courier-std,monospace;
  // font-weight: 400;
  // font-style: normal;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  // font-family: 'Montserrat', sans-serif;
  // font-size: .95em;
  // font-weight: 200;
  letter-spacing: 0.15em;
  color: $superlight;
  // color: #989898;

  background-color: #242424;
  height: 100%;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.HeaderContainer {
  // border: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
  height: 50px;
  // text-align: center;
}

.title {
  font-size: 1.3em;
  margin: 20px;
}

.Footer {
  // border: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
  text-align: center;
}

.body {
  // border: 0.5px solid blue;
  // display: flex;
  // height: 100%;
  // width: 100%;
  // justify-content: center;

    .control-bar {
      height: 50px;
      padding: 10px;
      // border: 1px solid rgba(255, 255, 255, .2);
    }

    .row {
      display: flex;
      flex-grow: 1;

      .column {
        display: flex;
        flex-direction: column;

        .InstrumentColumn {
          // border: 1px solid rgba(255, 255, 255, .2);
          padding: 10px;
          min-width: 100px;
          flex-grow: 2;
        }
        .Knobs {
          // border: 1px solid rgba(255, 255, 255, .2);
          padding: 10px;
          flex-grow: 1;
        }
      }

      .Board {
        // border: 1px solid rgba(255, 255, 255, .2);
        flex-grow: 1;
        padding: 10px;
      }
    }
}

button {
  border: 0;
  padding: 0;
}

.btn-play-pause {
  width: 70px;
  margin-left: 10px;
  font-size: 100%;
  font-family: inherit;
  padding: 5px;
  float: left;
}

.tempo-selector {
  font-family: inherit;
  padding: 5px;
  float: right
}

.time-display {
  font-family: inherit;
  padding: 5px;
  float: right
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
}

.scales {
  margin-left: 25px;
  padding: 5px;
  float: left;
}

.scale-btn {
  cursor: pointer;
  padding: 5px;
  float: left;
}

.scale-btn-selected {
  @extend .scale-btn;
  font-weight: 700;
}

.instr-btn {
  cursor: pointer;
  margin: 0.7em;
  background-color: transparent;
  font-size: 100%;
  font-family: inherit;
  color: $superlight;
  font-weight: 200;
}

.instr-btn-selected {
  @extend .instr-btn;
  font-weight: 700;
}

.btn-row-root {
  // border-left: gray;
  // border-left-style: solid;
  // border-width: 4px;
  // border-radius: 6px;
  // background-color:#4b4b4b;
}

.grid-btn {
  border: 0;
  margin: 1px;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  float: left;
}

.grid-btn-on-and-cur-step {
  background-color: $btn-cur-time;
}

.grid-btn-off-and-cur-step {
  background-color: $btn-cur-time;
}

.grid-btn-on {
  background-color: $btn-on;
}

.grid-btn-off {
  background-color: $btn-off;
}



.tempo-selector {
  font-family: inherit;
  padding: 5px;
  float: right
}
  
  /* these make sure it can work in any text element */
.inline-text_copy--active,
.inline-text_input--active {
  width: 80px;
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 8px;
  background: none;
  border: 0.1px solid #999999;;
  // border-bottom: 1px dashed #999999;
  outline: none;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
  width: 80px;
}

.inline-text_input--active {
  width: 80px;
  border-bottom: 1px solid red;
}