html,
body {
  color: #989898;
  margin: 0;
  background-color: #2b2b2b;
  height: 100%;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.HeaderContainer {
  border: 2px solid gray;
  width: 100%;
  text-align: center;
}

.Footer {
  border: 2px solid gray;
  width: 100%;
  text-align: center;
}

.body {
  border: 2px solid blue;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  .VisualContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid green;
    max-width: 1500px;
    min-width: 700px;
    min-height: 300px;
    justify-content: center;
    flex-grow: 1;

    .NavBar {
      height: 30px;
      padding: 10px;
      border: 2px solid gray;
    }

    .row {
      display: flex;
      flex-grow: 1;

      .column {
        display: flex;
        flex-direction: column;
        .InstrumentColumn {
          border: 2px solid gray;
          padding: 10px;
          min-width: 200px;
          flex-grow: 2;
        }
        .Knobs {
          border: 2px solid gray;
          padding: 10px;
          flex-grow: 1;
        }
      }

      .Board {
        border: 2px solid gray;
        flex-grow: 1;
        padding: 10px;
      }
    }
  }
}
